# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env.*
!.env.example

# Vercel local files
.vercel/

# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
